<AuthorizeView>
    <div @ondragenter='OnDragEnter' @ondragend='(() => Console.WriteLine("Drag End"))' @ondragleave="OnMouseOut" style="width: 100%; height: 100%; @DraggingCSS @OnMouseOverCSS">
        @foreach (var medication in MedicationService.GetMedicationsByUser(context.User.Identity.Name))
        {
            <div>
                @medication.Name
            </div>
        }
    </div>
</AuthorizeView>
    