

<div style="position: fixed; z-index: 10; border: 1px solid red; @(EventObjectFormState.IsDisplayed ? "" : "display: none;") width:20vw; height: 20vh; left: @(EventObjectFormState.XCoordinate)px; top: @(EventObjectFormState.YCoordinate)px;" class="eventObjectForm">
    <EditForm EditContext="this.EditContext"> 
        
    </EditForm>
</div>

