@inherits LayoutComponentBase
@using NiliBlazorAppWithAuthentication.Common

<div style="background-image: url('@(WellKnownValues.LandingPageBackground)') !important;" class="guestLanding main">
    <GuestNavbar/>

    <div class="guestContent content px-4">
        @Body
    </div>
</div>